@import "../../common/scss/colours";

main {
  padding: 10px 0;

  .reflex-container.vertical > .reflex-splitter,
  .reflex-container.vertical > .reflex-splitter:hover,
  .reflex-container.vertical > .reflex-splitter.active {
    border-right: 1px dotted $darker1;
    border-left: 1px dotted $darker1;
    cursor: col-resize;
    height: 100%;
    width: 6px;
    background: none;
  }

  .reflex-container > .reflex-element {
    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $lighter2;
      outline: none;
    }
  }
}
