
@import "./common/scss/colours";
@import "./common/scss/reset";
@import "./common/scss/fonts";

html, #root {
  height: 100%;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, $base, $lighter1 100%);;
  color: $lightGray;
  min-height: 100%;
}

a {
  color: $lightGray;
  text-decoration: underline;

  &:hover {
    background-color: $lighter1;
  }

  &:active, &:visited {
    color: $lightGray;
  }
}


